.cart-container,
.payment-container {
  width: 60%;
  margin: 30px auto;
  background-color: #f2f2f2;
  padding: 15px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

@media (max-width: 767px) {
  .cart-container,
  .payment-container {
    width: 90%;
  }
}

span.price {
  float: right;
}

.item-details {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.item-name-button {
  align-items: center;
  padding: 5px;
  display: flex;
}

.veg-image {
  margin-right: 5px;
  height: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
}
.main-title {
  margin-top: 5px;
  font-size: 25px;
  margin-bottom: 10px;
}
input[type='text'],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-button {
  border-color: #4caf50;
  background: white;
  margin-top: 20px;
  height: 45px;
  border-radius: 8px;
  font-size: 20px;
}

.form-button:hover {
  background: #4caf50;
  color: white;
}

.checkbox {
  margin-top: 20px;
}
label {
  margin-top: 20px;
  font-size: 18px;
  display: block;
}

.food-name {
  width: 180px;
  margin-right: 8px;
}

.not-found {
  width: 100%;
  height: 80%;
  align-items: center;
  display: flex;
  justify-content: center;
}
